.center-page {
    background: #24272e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register,
.authorize {
    background: #282c34;
    border-radius: 12px;
    width: 25%;
    padding: 32px;
    box-shadow: 0 4px 16px #11d171;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form__input,
.authButton,
.regButton {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.auth__title,
.reg__title {
    text-align: center;
    margin: 0 0 46px 0;
    font-weight: bold;
    font-size: 28px;
    color: #ebebeb;
}

.form__group {
    position: relative;
    margin-bottom: 32px;
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #ebebeb;
    pointer-events: none;
    transition: .3s;
}

.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    background-color: transparent;
    outline: none;
    transition: .3s;
}

.form__input:focus {
    border-bottom: 1px solid #11d171;
}

.authButton,
.regButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ebebeb;
    background: #11d171;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin: 0 0 25px 0;

    width: 100%;
}

.authButton:focus,
.authButton:hover,
.regButton:focus,
.regButton:hover {
    background-color: rgba(17, 209, 113, 0.7);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}

.register .authPage {
    color: #ebebeb;;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: color .3s;

    display: flex;
    justify-content: center;
}

.authorize .regPage {
    color:#ebebeb;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: color .3s;

    display: flex;
    justify-content: center;
}

.regPage:hover,
.authPage:hover {
    color: #11d171;
}

@media (max-width: 1100px) {
    .authorize,
    .register {
        display: block;
        width: 40%;
    }
}

@media (max-width: 800px) {
    .authorize,
    .register {
        display: block;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .authorize,
    .register {
        display: block;
        width: 60%;
    }
}

@media (max-width: 500px) {
    .authorize,
    .register {
        display: block;
        width: 85%;
    }
}