/* Основные стили */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: #282c34;
    padding: 20px 0;
    color: #ebebeb;

    position: fixed;

    width: 100%;

    z-index: 1000;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    
    margin: 0 auto;

    font-family: "Exo", sans-serif;

    color: #11d171;
}

.logo h1 {
    margin: 0;
    font-size: 32px;

    letter-spacing: 1.6px;

    
}

.logo img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.input-wrapper {
    flex-grow: 0.85;

    margin: 0 auto;

    display: flex;
}

.input-wrapper input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

    margin: 0 auto;
}

.input-wrapper input::placeholder {
    color: #aaa;
}

.buttons-wrapper {
    display: flex;
    
    margin: 0;

    gap: 15px;
}

.header-button {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border-style: none;
    background-color: #323842;

    width: 40px;
    height: 40px;

    cursor: pointer;

    transition: 0.4s;
}

.header-button:hover {
    background-color: #11d171;
}

.header-button svg {
    fill: #11d171;
    transition: 0.4s all;
}

.header-button:hover svg {
    fill: #282c34;
}
